*.sdf
*.log
*.tlog
CGT520Solution/ClassParticles/x64/Debug/OpenGLProgram.obj
*.obj
*.idb
*.pdb
*.ilk
*.exe
*.suo
*.suo
*.opensdf
*.suo
CGT521Solution/CGT521Solution.v12.suo
CGT521Solution/CGT521Solution.v12.suo
CGT521Solution/CGT521Solution.v12.suo